<h2 mat-dialog-title>data.name</h2>
<mat-dialog-content>
    @if (isLoading()) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
        @if (data.isPdf) {
            <iframe 
                [src]="safeUrl" 
                type="application/pdf" 
                width="100%" 
                height="600px"
            ></iframe>
        } @else {
            <img [src]="safeUrl" alt="File Content">
        }    
    }
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close>Close</button>
</mat-dialog-actions>
