<div class="w-full h-[10vh] flex flex-wrap">
    @for (node of nodeListNav(); track node) {
        @if (node !== "Your Drive") {
            <div class="h-full content-center">
                <mat-icon svgIcon="node-right-arrow-icon"></mat-icon>
            </div>
            
        }
        <button (click)="onNodeNavClick($event, node)" class="h-full p-3 rounded-lg bg-gray-200 hover:scale-105">
            {{ node }}
        </button>
    }
</div>
<table mat-table [dataSource]="viewItemList()" class="mat-elevation-z8 item-table">
    
    <!-- name Column -->
    <ng-container matColumnDef="fileName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
            <div class="
                flex 
                flex-wrap
                justify-left
                items-center
            ">
                @if (element.isFile) {
                    @if (element.file.mimeType.startsWith("image")) {
                        <mat-icon svgIcon="add-image-icon"></mat-icon>
                    } @else {
                        <mat-icon svgIcon="add-file-icon"></mat-icon>
                    }
                } @else {
                    <mat-icon svgIcon="add-folder-icon"></mat-icon>
                }
                {{element.name}}
            </div>
            
        </td>
    </ng-container>

    <!-- create at Column -->
    <ng-container matColumnDef="createAt">
        <th mat-header-cell *matHeaderCellDef>Create At</th>
        <td mat-cell *matCellDef="let element">
            @if (element.isFile) {
                {{ element.file.createAt }}
            } @else {
                {{ '-----' }}
            }
            
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr 
        mat-row
        (click)="onItemSelect(row)"
        class="shadow-lg item-row"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
</table>