<table mat-table [dataSource]="itemList()" class="mat-elevation-z8 item-table">
    
    <!-- name Column -->
    <ng-container matColumnDef="fileName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
            <div class="
                flex 
                flex-wrap
                justify-left
                items-center
            ">
                @if (element.isFile) {
                    @if (element.file.mimeType.startsWith("image")) {
                        <mat-icon svgIcon="add-image-icon"></mat-icon>
                    } @else {
                        <mat-icon svgIcon="add-file-icon"></mat-icon>
                    }
                } @else {
                    <mat-icon svgIcon="add-folder-icon"></mat-icon>
                }
                {{element.name}}
            </div>
            
        </td>
    </ng-container>

    <!-- create at Column -->
    <ng-container matColumnDef="createAt">
        <th mat-header-cell *matHeaderCellDef>Create At</th>
        <td mat-cell *matCellDef="let element">
            @if (element.isFile) {
                {{ element.file.createAt }}
            } @else {
                {{ '-----' }}
            }
            
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr 
        mat-row
        (click)="onItemSelect(row)"
        class="shadow-lg item-row"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
</table>